<div class="container-home">
   
</div>
<div class="text-home">
    <h2 data-aos="fade-up" data-aos-duration="1500" class="first">LAVADERO</h2>
    <h2 data-aos="fade-up" data-aos-duration="1500"  data-aos-delay="400">REYNOSO</h2>
 </div>
<div class="cards" id="servicios">
    <h2 class="services">SERVICIOS</h2>
    <div class="item-card" data-aos="fade-up">
        <img src="../../../assets/images/cubeta.png" alt="cubeta">
        <h2>REPARARACIONES</h2>
        <p>Reparaciones generales,
            reparaciones especiales
             & partes antiguas</p>
    </div>
    <div class="item-card" data-aos="fade-up" data-aos-delay="300">
        <img src="../../../assets/images/limpiar.png" alt="cubeta">
        <h2>REPARARACIONES</h2>
        <p>Amplia variedad de telas, incluyendo cueros vintage, & muchas opciones de colores</p>
    </div>
    <div class="item-card" data-aos="fade-up" data-aos-delay="600">
        <img src="../../../assets/images/limpieza-de-vidrio.png" alt="cubeta">
        <h2>PINTURA</h2>
        <p>Pintura en aerosol, Stencilling personalizado & amplia variedad de trabajo artesanal</p>
    </div>
</div>
<div class="achievements" id="logros">
    <h2>LOGROS</h2>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-1.jpg" alt="logros" class="br-top"  data-aos="fade-up" data-aos-delay="300">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-4.jpg" alt="logros"  data-aos="fade-up" data-aos-delay="600">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-2.jpg" alt="logros"  data-aos="fade-up" data-aos-delay="900">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-5.jpg" alt="logros"  data-aos="fade-up" data-aos-delay="1200">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-3.jpg" class="br-bottom" alt="logros"  data-aos="fade-up" data-aos-delay="1500">
    </div>
</div>
<div class="about-me" id="nosotros">
    <div class="card-about">
        <h2>NOSOTROS</h2>
        <p>¡Bienvenidos a Lavadero Reynoso!  Somos una empresa especializada en brindar servicios profesionales de lavado de autos, pintura con stretch, pulidos y abrillantados, restauración de ópticas y pintura de llantas.</p>
        <p>Nos apasiona el cuidado y mantenimiento de los vehículos, y nos enorgullece ofrecer un servicio de alta calidad a nuestros clientes.</p>
    </div>
</div>
<a href="https://api.whatsapp.com/send?phone=2494646044&text=Hola!%20Quisiera%20reservar%20un%20turno%20para%20lavar." class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>