<div class="container-home">
   
</div>
<div class="text-home">
    <h2>LAVADERO REYNOSO</h2>
 </div>
<div class="cards">
    <h2 class="services">SERVICIOS</h2>
    <div class="item-card" data-aos="fade-up">
        <img src="../../../assets/images/cubeta.png" alt="cubeta">
        <h2>REPARARACIONES</h2>
        <p>Reparaciones generales,
            reparaciones especiales
             & partes antiguas</p>
    </div>
    <div class="item-card">
        <img src="../../../assets/images/limpiar.png" alt="cubeta">
        <h2>REPARARACIONES</h2>
        <p>Amplia variedad de telas, incluyendo cueros vintage, & muchas opciones de colores</p>
    </div>
    <div class="item-card">
        <img src="../../../assets/images/limpieza-de-vidrio.png" alt="cubeta">
        <h2>PINTURA</h2>
        <p>Pintura en aerosol, Stencilling personalizado & amplia variedad de trabajo artesanal</p>
    </div>
</div>
<div class="achievements">
    <h2>LOGROS</h2>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-1.jpg" alt="logros">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-4.jpg" alt="logros">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-2.jpg" alt="logros">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-5.jpg" alt="logros">
    </div>
    <div class="card-achievements">
        <img src="../../../assets/images/achivements-3.jpg" alt="logros">
    </div>
</div>
<div class="about-me">
    <div class="card-about fadeinleft animation-duration-2000 animation-delay-100">
        <h2>NOSOTROS</h2>
        <p>Este es un buen espacio para extenderte sobre tu compañía y servicios. Puedes usar este espacio para incorporar más detalles sobre tu empresa. Escribe sobre tu personal y los servicios que ofreces. Cuéntales a los visitantes la historia sobre cómo se te ocurrió la idea de tu negocio y diles qué te diferencia de tus competidores.</p>
        <p>Haz que tu empresa se destaque y muestra a tus visitantes quién eres. Consejo: Agrega tu propia imagen haciendo clic en la imagen y luego en Cambiar Imagen.</p>
    </div>
</div>
<a href="https://walink.co/9b633a" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>