<div class="container-home">
   
</div>
<div class="text-home">
    <h2>LAVADERO REYNOSO</h2>
 </div>
<div class="cards">
    <h2 class="services">SERVICIOS</h2>
    <div class="item-card">
        <img src="../../../assets/images/cubeta.png" alt="cubeta">
        <h2>REPARARACIONES</h2>
        <p>Reparaciones generales,
            reparaciones especiales
             & partes antiguas</p>
    </div>
    <div class="item-card">
        <img src="../../../assets/images/limpiar.png" alt="cubeta">
        <h2>REPARARACIONES</h2>
        <p>Amplia variedad de telas, incluyendo cueros vintage, & muchas opciones de colores</p>
    </div>
    <div class="item-card">
        <img src="../../../assets/images/limpieza-de-vidrio.png" alt="cubeta">
        <h2>PINTURA</h2>
        <p>Pintura en aerosol, Stencilling personalizado & amplia variedad de trabajo artesanal</p>
    </div>
</div>
<div class="achievements">

</div>
<div class="about-me">

</div>