<div class="footer-card">
    <h2 class="services">MARCAS</h2>
    <div class="item-card" data-aos="fade-up">
        <img src="../../../assets/images/brand-stretch.png" alt="stretch">
        <h2>REPARARACIONES</h2>
        <p>Reparaciones generales,
            reparaciones especiales
            & partes antiguas</p>
    </div>
    <div class="item-card" data-aos="fade-up" data-aos-delay="300">
        <img src="../../../assets/images/meguiars.png" alt="cubeta">
        <h2>REPARARACIONES</h2>
        <p>Amplia variedad de telas, incluyendo cueros vintage, & muchas opciones de colores</p>
    </div>
    <div class="item-card" data-aos="fade-up" data-aos-delay="600">
        <img src="../../../assets/images/limpieza-de-vidrio.png" alt="cubeta">
        <h2>PINTURA</h2>
        <p>Pintura en aerosol, Stencilling personalizado & amplia variedad de trabajo artesanal</p>
    </div>
</div>
<div class="contact-me">
    <div>
        <img class="img-camaro" src="../../../assets/images/car-footer.png" alt="camaro">
    </div>
    <div class="card">
        <h2>ENCUENTRANOS</h2>
        <div class="sub-box">
            <div class="contact-row">
                <span class="icon">
                    <i class="pi pi-map-marker"></i>
                </span>
                <p>Avenida Estrada
                    1022, Tandil.</p>
            </div>
            <div class="contact-row mt-4">
                <span class="icon">
                    <i class="pi pi-clock"></i>
                </span>
                <p>Lun - Sab | 9am - 19pm</p>
                <i class="pi pi-map-mark"></i>
            </div>
            <div class="contact-row mt-4">
                <span class="icon">
                    <i class="pi pi-whatsapp"></i>
                </span>
                <p>2494-646044</p>
            </div>
            <div class="contact-row mt-4">
                <span class="icon">
                    <i class="pi pi-instagram"></i>
                </span>
                <a href="https://www.instagram.com/lavadero_0k/" target="_blank">
                    @lavadero_0k
                </a>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <p>© 2023 <br>
        Created by Santiago Gauna
    </p>
</div>