<div class="footer-card" id="marcas">
    <h2 class="services">MARCAS</h2>
    <div class="item-card" data-aos="fade-up">
        <div class="circle-img">
            <img src="../../../assets/images/brand-stretch.png" alt="stretch">
        </div>
        <h2>STRETCH</h2>
        <p>Recubrimiento líquido, popularmente conocido como pintura pelable o removible,
            que se utiliza para personalizar vehículos, como autos, motos, llantas, accesorios, y más.</p>
    </div>
    <div class="item-card" data-aos="fade-up" data-aos-delay="300">
        <div class="circle-img">
            <img src="../../../assets/images/meguiars.png" alt="cubeta">
        </div>
        <h2>MEGUIAR'S</h2>
        <p>Meguiar's es una marca líder en productos para el cuidado del automóvil,
            conocida por su alta calidad y resultados profesionales.</p>
    </div>
    <div class="item-card" data-aos="fade-up" data-aos-delay="600">
        <div class="circle-img">
            <img src="../../../assets/images/Stihl-Logo.png" alt="stihl">
        </div>
        <h2>STHIL</h2>
        <p>Nosotros confiamos en las
            herramientas de la reconocida marca STIHL, líder en el mercado de equipos y herramientas.</p>
    </div>
</div>
<div class="contact-me">
    <div>
        <img class="img-camaro" src="../../../assets/images/car-footer.png" alt="camaro">
    </div>
    <div class="card" id="encuentranos">
        <h2>ENCUENTRANOS</h2>
        <div class="sub-box">
            <div class="contact-row">
                <span class="icon">
                    <i class="pi pi-map-marker"></i>
                </span>
                <p>Avenida Estrada
                    720, Tandil.</p>
            </div>
            <div class="contact-row mt-4">
                <span class="icon">
                    <i class="pi pi-clock"></i>
                </span>
                <p>Lun - Sab | 8am - 19pm</p>
                <i class="pi pi-map-mark"></i>
            </div>
            <div class="contact-row mt-4">
                <span class="icon">
                    <i class="pi pi-whatsapp"></i>
                </span>
                <a href="https://api.whatsapp.com/send?phone=2494646044&text=Hola!%20Quisiera%20reservar%20un%20turno%20para%20lavar."
                target="_blank">
                <p>2494-646044</p>
                </a>
            </div>
            <div class="contact-row mt-4">
                <span class="icon">
                    <i class="pi pi-instagram"></i>
                </span>
                <a href="https://www.instagram.com/lavadero_0k/" target="_blank">
                    @lavadero_0k
                </a>
            </div>
        </div>
    </div>
</div>
<div class="get-date" id="turno">
    <a class="whatsapp-button" href="https://api.whatsapp.com/send?phone=2494646044&text=Hola!%20Quisiera%20reservar%20un%20turno%20para%20lavar." target="_blank">
        <i class="fa fa-whatsapp"></i>
        RESERVAR TURNO
    </a>
</div>
<div class="copyright">
    <div class="logo">
        <img src="../../../assets/images/logo-lavadero-reynoso.png" alt="logo">
    </div>
</div>